<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.opennms.gsoc"
          android:versionCode="1"
          android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="7"
              android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Sherlock.__Theme.Light">

        <activity android:name=".OpenNMSAndroidAppActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".nodes.NodeViewerActivity"></activity>
        <activity android:name=".about.SettingsViewerActivity"></activity>
        <activity android:name=".outages.OutageViewerActivity"></activity>
        <activity android:name=".alarms.AlarmViewerActivity"></activity>

        <service android:name=".nodes.NodesService"></service>
        <service android:name=".outages.OutagesService"></service>
        <service android:name=".alarms.AlarmsService" ></service>

        <provider android:name="org.opennms.gsoc.nodes.dao.NodesListProvider"
                  android:authorities="org.opennms.gsoc.nodes.dao.NodesListProvider"
                  android:multiprocess="true" >
        </provider>

        <provider android:name="org.opennms.gsoc.outages.dao.OutagesListProvider"
                  android:authorities="org.opennms.gsoc.outages.dao.OutagesListProvider"
                  android:multiprocess="true" >
        </provider>

        <provider
                android:name="org.opennms.gsoc.alarms.dao.AlarmsListProvider"
                android:authorities="org.opennms.gsoc.alarms.dao.AlarmsListProvider"
                android:multiprocess="true" >
        </provider>

    </application>

</manifest>