<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.opennms.android"
    android:versionCode="1"
    android:versionName="1.0.0-SNAPSHOT">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/opennms_logo"
        android:theme="@style/Theme.OpenNMS">

        <activity android:name=".ui.nodes.NodesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.nodes.NodeDetailsActivity" />

        <activity android:name=".ui.alarms.AlarmsActivity" />
        <activity android:name=".ui.alarms.AlarmDetailsActivity" />

        <activity android:name=".ui.events.EventsActivity" />
        <activity android:name=".ui.events.EventDetailsActivity" />

        <activity android:name=".ui.outages.OutagesActivity" />
        <activity android:name=".ui.outages.OutageDetailsActivity" />

        <activity android:name=".ui.SettingsActivity" />

        <service
            android:exported="false"
            android:name=".service.AlarmsSyncService" />
        <service
            android:exported="false"
            android:name=".service.EventsSyncService" />
        <service
            android:exported="false"
            android:name=".service.NodesSyncService" />
        <service
            android:exported="false"
            android:name=".service.OutagesSyncService" />

        <receiver android:name=".service.AlarmReceiver" />

        <provider
            android:authorities="org.opennms.android.dao.nodes.NodesListProvider"
            android:multiprocess="true"
            android:name=".dao.nodes.NodesListProvider" />
        <provider
            android:authorities="org.opennms.android.dao.outages.OutagesListProvider"
            android:multiprocess="true"
            android:name=".dao.outages.OutagesListProvider" />
        <provider
            android:authorities="org.opennms.android.dao.events.EventsListProvider"
            android:multiprocess="true"
            android:name=".dao.events.EventsListProvider" />
        <provider
            android:authorities="org.opennms.android.dao.alarms.AlarmsListProvider"
            android:multiprocess="true"
            android:name=".dao.alarms.AlarmsListProvider" />

    </application>

</manifest>