<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.opennms.android"
    android:versionCode="1"
    android:versionName="1.0.0-SNAPSHOT">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <!-- Networking -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Notifications -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/opennms_logo"
        android:theme="@style/Theme.AppCompat.Light">

        <activity android:name=".ui.nodes.NodesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.nodes.NodeDetailsActivity" />

        <activity android:name=".ui.alarms.AlarmsActivity" />
        <activity android:name=".ui.alarms.AlarmDetailsActivity" />

        <activity android:name=".ui.events.EventsActivity" />
        <activity android:name=".ui.events.EventDetailsActivity" />

        <activity android:name=".ui.outages.OutagesActivity" />
        <activity android:name=".ui.outages.OutageDetailsActivity" />

        <activity android:name=".ui.SettingsActivity" />

        <service
            android:exported="false"
            android:name=".service.AlarmsSyncService" />
        <service
            android:exported="false"
            android:name=".service.EventsSyncService" />
        <service
            android:exported="false"
            android:name=".service.NodesSyncService" />
        <service
            android:exported="false"
            android:name=".service.OutagesSyncService" />

        <receiver android:name=".service.SyncAlarmReceiver" />
        <receiver android:name=".BootAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:authorities="org.opennms.android.provider.AppContentProvider"
            android:exported="false"
            android:name=".provider.AppContentProvider" />

    </application>

</manifest>